[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
