[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "site-lisp/rainbow-delimiters"]
	path = site-lisp/rainbow-delimiters
	url = git@github.com:jlr/rainbow-delimiters.git
[submodule "site-lisp/flx"]
	path = site-lisp/flx
	url = git@github.com:lewang/flx.git
[submodule "site-lisp/ido-ubiquitous"]
	path = site-lisp/ido-ubiquitous
	url = git@github.com:DarwinAwardWinner/ido-ubiquitous.git
[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/ido-vertical-mode"]
	path = site-lisp/ido-vertical-mode
	url = git@github.com:rson/ido-vertical-mode.el.git
[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = http://mumble.net/~campbell/git/paredit.git/
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = git@github.com:magnars/s.el.git
[submodule "themes/zenburn-emacs"]
	path = themes/zenburn-emacs
	url = git@github.com:bbatsov/zenburn-emacs.git
[submodule "themes/solarized-emacs"]
	path = themes/solarized-emacs
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "site-lisp/popwin-el"]
	path = site-lisp/popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "site-lisp/guide-key"]
	path = site-lisp/guide-key
	url = git@github.com:kbkbkbkb1/guide-key.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git
[submodule "site-lisp/perspective"]
	path = site-lisp/perspective
	url = git@github.com:nex3/perspective-el.git
[submodule "site-lisp/smartparens"]
	path = site-lisp/smartparens
	url = git@github.com:Fuco1/smartparens.git
[submodule "site-lisp/eproject"]
	path = site-lisp/eproject
	url = git@github.com:jrockway/eproject.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = git@github.com:technomancy/find-file-in-project.git
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "site-lisp/flycheck"]
	path = site-lisp/flycheck
	url = git@github.com:lunaryorn/flycheck.git
[submodule "site-lisp/yaml-mode"]
	path = site-lisp/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "site-lisp/restclient-mode"]
	path = site-lisp/restclient-mode
	url = git@github.com:pashky/restclient.el.git
[submodule "site-lisp/cucumber.el"]
	path = site-lisp/cucumber.el
	url = git@github.com:michaelklishin/cucumber.el.git
[submodule "site-lisp/jade-mode"]
	path = site-lisp/jade-mode
	url = git@github.com:brianc/jade-mode.git
[submodule "site-lisp/rhtml"]
	path = site-lisp/rhtml
	url = git@github.com:eschulte/rhtml.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "site-lisp/apache-mode"]
	path = site-lisp/apache-mode
	url = git@github.com:emacsmirror/apache-mode.git
[submodule "site-lisp/highlight-escape-sequences"]
	path = site-lisp/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "site-lisp/visual-regexp.el"]
	path = site-lisp/visual-regexp.el
	url = git@github.com:benma/visual-regexp.el.git
[submodule "site-lisp/expand-region.el"]
	path = site-lisp/expand-region.el
	url = git@github.com:magnars/expand-region.el.git
[submodule "site-lisp/multiple-cursors.el"]
	path = site-lisp/multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "site-lisp/jump-char"]
	path = site-lisp/jump-char
	url = git@github.com:lewang/jump-char.git
[submodule "site-lisp/Emacs-wgrep"]
	path = site-lisp/Emacs-wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/smart-forward.el"]
	path = site-lisp/smart-forward.el
	url = git@github.com:magnars/smart-forward.el.git
[submodule "site-lisp/change-inner.el"]
	path = site-lisp/change-inner.el
	url = git@github.com:magnars/change-inner.el.git
[submodule "site-lisp/multifiles.el"]
	path = site-lisp/multifiles.el
	url = git@github.com:magnars/multifiles.el.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "site-lisp/elisp-slime-nav"]
	path = site-lisp/elisp-slime-nav
	url = git@github.com:purcell/elisp-slime-nav.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "site-lisp/popup-el"]
	path = site-lisp/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "site-lisp/haskell-mode"]
	path = site-lisp/haskell-mode
	url = git@github.com:haskell/haskell-mode.git
[submodule "site-lisp/ghc-mod"]
	path = site-lisp/ghc-mod
	url = git@github.com:kazu-yamamoto/ghc-mod.git
[submodule "site-lisp/ZNC.el"]
	path = site-lisp/ZNC.el
	url = git@github.com:sshirokov/ZNC.el.git
[submodule "site-lisp/smooth-scrolling"]
	path = site-lisp/smooth-scrolling
	url = git@github.com:aspiers/smooth-scrolling.git
[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = git@github.com:lunaryorn/git-modes.git
[submodule "site-lisp/geiser"]
	path = site-lisp/geiser
	url = git://git.sv.gnu.org/geiser.git
[submodule "site-lisp/magit-gh-pulls"]
	path = site-lisp/magit-gh-pulls
	url = git@github.com:sigma/magit-gh-pulls.git
[submodule "site-lisp/gh.el"]
	path = site-lisp/gh.el
	url = git@github.com:sigma/gh.el.git
[submodule "site-lisp/emacs-request"]
	path = site-lisp/emacs-request
	url = git@github.com:tkf/emacs-request.git
[submodule "site-lisp/pcache"]
	path = site-lisp/pcache
	url = git@github.com:sigma/pcache.git
[submodule "site-lisp/logito"]
	path = site-lisp/logito
	url = git@github.com:sigma/logito.git
[submodule "themes/Subatomic-enhanced"]
	path = themes/Subatomic-enhanced
	url = git@github.com:shahinism/Subatomic-enhanced.git
[submodule "themes/el-monokai-theme"]
	path = themes/el-monokai-theme
	url = git@github.com:lvillani/el-monokai-theme.git
[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = git@github.com:rejeep/f.el.git
[submodule "site-lisp/pkg-info.el"]
	path = site-lisp/pkg-info.el
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = git@github.com:cask/epl.git
